@charset "UTF-8";
/* MISCS */
/* Colors */
.principal {
  background-color: black; }

.secundario {
  background-color: red; }

.terciario {
  background-color: white; }

.alternativo {
  background-color: grey; }

/* Font-Size*/
/* Normalizar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat";
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold"; }

p {
  color: #8f8f8f; }

/* PARTIALS */
/* Cabecera */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5; }
  .big-heading .section-heading {
    font-size: 3rem;
    line-height: 1.5;
    color: white; }

/* Barra de Navegación */
.navbar {
  padding: 0 0 4.5rem; }
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: red; }
    .navbar-brand .navbar-expand-lg .navbar-collapse {
      justify-content: flex-end; }
    .navbar-brand .nav-item {
      padding: 0 18px; }
      .navbar-brand .nav-item .nav-link {
        font-size: 1.2rem;
        font-family: "Montserrat-Light"; }

/* Footer */
.social-icon {
  margin: 20px 10px; }

/* VIEWS */
/* Contenedores */
.container-fluid {
  padding: 7% 15%; }

/* Secciones */
.colored-section {
  color: white; }

.black-section {
  background-color: black; }

/* Botones */
.download-button {
  margin: 5% 3% 5% 0; }

/* Titulo de Secciones */
#title {
  background-color: black;
  color: white;
  text-align: left; }
  #title .container-fluid {
    padding: 3% 15% 7%; }

/* Logo (Titulo) */
.title-image {
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  right: 5%;
  border-radius: 10px; }

/* Seccion descriptiva */
#features {
  position: relative; }
  #features .feature-title {
    font-size: 1.5rem; }
  #features .feature-box {
    padding: 4.5%; }

.icon {
  margin-bottom: 1rem; }
  .icon:hover {
    color: white; }

/* Seccion de testimonio */
#testimonials .testimonial-text {
  font-size: 3rem;
  line-height: 1.5; }

#testimonials .testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px; }

#press {
  padding-bottom: 3%; }
  #press-logo {
    width: 15%;
    margin: 20px 20px 50px; }

/*Formulario*/
.no-margin {
  margin-bottom: 0;
  color: white; }
  .no-margin .abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; }

.form {
  width: 450px; }
  .form-label {
    color: red; }
  .form-text {
    color: white; }
  .form-check-label {
    color: white; }

/* Seccion de precios */
/*Precios Membresia*/
#pricing {
  padding: 100px; }
  #pricing .price-text {
    font-size: 3rem;
    line-height: 1.5;
    color: white; }
  #pricing .pricing-column {
    padding: 3% 2%; }

.card-header {
  background-color: red; }
  .card-header .h3, .card-header h3 {
    color: black; }
  .card-header .card-body {
    background-color: black; }

/* Botones */
.download-button {
  margin: 5% 3% 5% 0; }

@media (max-width: 1028px) {
  #title {
    text-align: center; }
  .title-image {
    position: static;
    transform: rotate(0); } }
