
/* MISCS */

@import './misc/variables';
@import './misc/mixins';
@import './misc/normalize';

/* PARTIALS */

@import './partials/header';
@import './partials/footer';

/* VIEWS */

@import './views/home';
@import './views/contacto';
@import './views/memebresia';
@import './views/sobrenosotros';


  @media (max-width: 1028px) {
  
  #title {
    text-align: center;
  }
  
  .title-image {
    position: static;
    transform: rotate(0);
  }
  }