<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Contacto Sc</title>
</head>
<body class="cuerpo">
    <header>
        <img src="../img/logo.jpeg" class="header_img" alt="LogoGimnasio">
        <nav class="barraDeNavegacion">
            <ul class="menu">
                <li class="menu__item">
                <a href="../index.html" class="menu__link">Inicio</a>
                </li>
                <li class="menu__item">
                    <a href="./membresia.html" class="menu__link">Membresia</a>   
                </li>
                <li class="menu__item">
                    <a href="./planes.html" class="menu__link">Planes</a>
                </li>
                <li class="menu__item">
                    <a href="./sobre-nosotros.html" class="menu__link">Sobre Nosotros</a>
            </ul>
        </nav>
    </header>
    <section>
      <h1 class="titulo1">
        Contactanos!
      </h1>
    </section>
    <main>
      <section>
          <div id="after_submit"></div>
<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
<div class="row">
  <label class="form" for="name">Nombre y Apellido:</label><br />
  <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
  <span id="name_validation" class="error_message"></span>
</div>
<div class="row">
  <label class="form" for="email">Email:</label><br />
  <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
  <span id="email_validation" class="error_message"></span>
</div>
<div class="row">
  <label class="form" for="message">Mensaje:</label><br />
  <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
  <span id="message_validation" class="error_message"></span>
</div>
  
  <input id="submit_button" type="submit" value="Enviar email" />
</form>
      </section>
  </main>

    <footer class="pieg">
      <ul>
          <img src="../img/insta.png" alt="Instagram" class="img456">
          <img src="../img/tw.png" alt="Twitter" class="img456">
          <img src="../img/face.png" alt="Facebook" class="img456">
          <li>
                Copyright © Mateo Turina 2022
            </li>
      </ul>
  </footer>

    
</body>
</html>
