<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Document</title>
</head>
<body class="cuerpo">
    <header>
        <img src="../img/logo.jpeg" class="header_img" alt="LogoGimnasio">
        <nav class="barraDeNavegacion">
            <ul class="menu">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Inicio</a>
                </li>
                <li class="menu__item">
                    <a href="./contacto.html" class="menu__link">Contacto</a>
                </li>
                <li class="menu__item">
                    <a href="./planes.html" class="menu__link">Planes</a>
                </li>
                <li class="menu__item">
                    <a href="./sobre-nosotros.html" class="menu__link">Sobre Nosotros</a>
            </ul>
        </nav>
    </header>
    <h1 class="titulo1">
        Unete a la familia ScImpass!
    </h1>
    <li class="centro">
        <a href="" class="centro__link">Mensual</a>
    </li>
    <li class="centro">
        <a href="" class="centro__link">Anual</a>
    </li>
    <footer class="pieg">
        <ul>
            <img src="../img/insta.png" alt="Instagram">
            <img src="../img/tw.png" alt="Twitter">
            <img src="../img/face.png" alt="Facebook">
            <li>
                Copyright © Mateo Turina 2022
            </li>
        </ul>
    </footer>
    
</body>
</html>
