<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Document</title>
</head>
<body class="cuerpo">
    <header>
        <img src="../img/logo.jpeg" class="header_img" alt="LogoGimnasio">
        <nav class="barraDeNavegacion">
            <ul class="menu">
                <li class="menu__item">
                    <a href="../index.html" class="menu__link">Inicio</a>
                </li>
                <li class="menu__item">
                    <a href="./contacto.html" class="menu__link">Contacto</a>
                </li>
                <li class="menu__item">
                    <a href="./membresia.html" class="menu__link">Membresia</a>   
                </li>
                <li class="menu__item">
                    <a href="./planes.html" class="menu__link">Planes</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
    <h1 class=titulo1>
        Todo lo que necesitas saber
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi harum dignissimos quisquam sapiente libero rem error odit mollitia, veniam deleniti eius exercitationem obcaecati sequi ipsa voluptates? Impedit quidem voluptas praesentium.</p>
    </section>
    <footer>
        <ul>
            <img src="../img/insta.png" alt="Instagram">
            <img src="../img/tw.png" alt="Twitter">
            <img src="../img/face.png" alt="Facebook">
            <li>
                Copyright © Mateo Turina 2022
            </li>
        </ul>
    </footer>
    
</body>
</html>
