  /* Seccion de precios */
  /*Precios Planes*/
  
  #pricing {
    padding: 100px;
  
    .price-text {
      font-size: $text-medium;
      line-height: 1.5;
      color: white;
      }
      
      .pricing-column {
      padding: 3% 2%;
      }
    }
    
    .card-header {
      background-color: $secundario;

      .h3, h3 {
        color: black;
      }

    .card-body {
      background-color: $principal;
      }
    }