/* Normalizar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
  font-family: "Montserrat";
  text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  }
  
  p {
  color: #8f8f8f;
  }